.palette {
	color: #4eb4d9;
	color: #abb6d1;
	color: #78b5be;
	color: #93d8d4;
	color: #8fd1c1;
	color: #e6f1d6;
}
.top-up-modal {
	border-radius: 3px;
	background-color: #f2f2f2;
	position: relative;
}
.top-up-modal .step-1 {
	display: block;
}
.top-up-modal .step-2 {
	display: none;	
}
.top-up-modal header,
.top-up-modal section {
	padding: 20px 30px 0;
}
.top-up-modal section {
	padding-bottom: 30px;
}
button.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	padding: 0;
	margin: 10px;
}
button.close-modal svg {
	width: 12px;
	height: 12px;
	line-height: 0;
	stroke: #51a8b8;
}
.top-up-modal ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.top-up-modal p {
	font-weight: 400;
	margin-bottom: 20px;
}
.top-up-modal input[type=number],
.top-up-modal select {
	margin-bottom: 20px;
	color: #000;
	border-color: #bdc3c7;
	border-radius: 2px;
	font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.top-up-modal input[type=checkbox] {
	color: #000;
	border-color: #8fd1c1;
	border-radius: 2px;
}
.top-up-modal input[type=number].error,
.top-up-modal select.error {
	border-color: #FE6C61;
}
.top-up-modal input[type=number]::placeholder {
	color: #bdc3c7;
}
.top-up-modal ul li {
	flex: 1 0 auto;
	margin: 0 10px 20px;
}
.top-up-modal ul li:first-child {
	margin-left: 0;
}
.top-up-modal ul li:last-child {
	margin-right: 0;
}
.top-up-modal ul li input[type=radio] {
	position: absolute;
	left: -999em;
}
.top-up-modal ul li label {
	color: #f7f7f7;
	background-color: #FE6C61;

	background-color: #8fd1c1;
	background-color: #abb6d1;
	background-color: #bdc3c7;

	border-radius: 5px;
	padding: 8px 24px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-weight: 600;
}
.top-up-modal ul li label:active {
	position: relative;
	top: 1px;
}
.top-up-modal ul li input[type=radio]:checked+label {
	background-color: #FE6C61;
	background-color: #abb6d1;
	background-color: #8fd1c1;
	color: #fff;
}
.top-up-modal ul li input[type=radio]:disabled+label {
	background-color: #f2f2f2;
	color: #fff;
}
form label[for=amount] {
	display: none;
}
#amount {
	background-size: contain;
	background-position-x: 10px;
	background-position-y: 20px;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 938 1250"><path stroke="none" d="m 224.99996,16.22698 -8.11342,36.41161 q -24.14255,-19.78892 -54.61741,-19.78892 -41.3588,0 -65.00658,23.74671 -23.647774,23.7467 -28.397115,53.23215 l 134.960355,0 -5.14505,26.71508 -132.981532,0 -0.395848,7.71771 0.395848,18.20566 127.242642,0 -5.14505,26.71508 -117.941954,0 q 7.519719,40.17154 32.552754,59.06997 25.03303,18.89844 56.49745,18.89844 37.20302,0 57.98149,-19.59107 l 0,40.9631 Q 192.34828,300 162.26913,300 53.034301,300 30.474864,189.18206 l -30.474864,0 5.738751,-26.71508 20.580475,0 q -0.395708,-4.74934 -0.395708,-17.80995 l 0,-8.11342 -25.923518,0 5.738751,-26.71508 23.152999,0 Q 39.181988,55.21112 76.583149,27.60556 113.98417,0 163.06069,0 199.868,0 224.99996,16.22698 z" /></svg>');
	width: 100%;
}
.top-up-modal .button-primary {
	margin-left: auto;
	display: block;
	padding: 10px 20px;
}

a#change-amount {
	color:#51a8b8;
}

.pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
	border-color: #8fd1c1;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
	background-color: #8fd1c1!important;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label {
	font-weight: 600;
}
.top-up-modal .notice {
	display: none;
	position: relative;
	top: -15px;
}
.error + .notice {
	color: #FE6C61;
	font-weight: 600;
}

#amount.error + .notice {
	display: block;
}


/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(242,242,242,.9);
	z-index: 10000;
}

/* Inner */
.popup-inner {
	max-width:700px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);

	border-radius:3px;
	background:#fff;

}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}
.monthly-text {
	display: none;
}

button.active {
	background-color: #FE6C61;
}

.col-1,
.col-2 {
	margin-bottom: 3%;
}
.col-2 {
	display: flex;
	justify-content: space-between;
}
.col-2 .col {
	width: 48%;
}
input[type="text"].parsley-error {
	border-color: #FE6C61;
}
ul.parsley-errors-list {
	list-style: none;
	margin: 0;
	color: #FE6C61;
	padding: 0;
}
ul.parsley-errors-list li {
	margin-bottom: -10px;
}
.gfield_required {
	display: none;
}
#step-3 .gform_wrapper div.validation_error {
	display: none;
}
#step-3 .gform_wrapper li.gfield.gfield_error {
	background-color: transparent;
	border: none;
}
#step-3 .gform_wrapper .field_description_below .gfield_description {
	padding-top: 0;
}
#step-3 .gform_wrapper .gfield_error .gfield_label,
#step-3 .gform_wrapper .validation_message,
#step-3 .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label {
	color: #FE6C61;
}
#step-3 .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	border-color: #FE6C61;
}
.entry-content p a.button {
	color: #fff;
}

.col-1,
.col-2 {
	margin-bottom: 3%;
}
.col-2 {
	display: flex;
	justify-content: space-between;
}
.col-2 .col {
	width: 48%;
}
input[type="text"].parsley-error {
	border-color: #FE6C61;
}
ul.parsley-errors-list {
	list-style: none;
	margin: 0;
	color: #FE6C61;
	padding: 0;
}
.pay input[type="radio"],
.pay input[type="checkbox"] {
	margin-right: 5px;
}
ul.parsley-errors-list li {
	margin-bottom: -10px;
}
#pay label {
	display: inline;
	margin-right: 5px;
}
.error {
	border: 1px solid #FE6C61;
	display: block;
	margin-bottom: 3%;
	padding: 1% 2%;
	border-radius: 3px;
	background-color: rgba(254,108,97,0.8);
	color: #fff;
	font-weight: 600;
}
.col-1,
.col-2 {
	margin-bottom: 3%;
}
.col-2 {
	display: flex;
	justify-content: space-between;
}
.col-2 .col {
	width: 48%;
}
input[type="text"].parsley-error {
	border-color: #FE6C61;
}
ul.parsley-errors-list {
	list-style: none;
	margin: 0;
	color: #FE6C61;
	padding: 0;
}
ul.parsley-errors-list li {
	margin-bottom: -10px;
}
.update-user input[type="radio"],
.update-user input[type="checkbox"] {
	margin-right: 5px;
}
.update-user label {
	display: inline;
	margin-right: 5px;
}
.error {
	border: 1px solid #FE6C61;
	display: block;
	margin-bottom: 3%;
	padding: 1% 2%;
	border-radius: 3px;
	background-color: rgba(254,108,97,0.8);
	color: #fff;
	font-weight: 600;
}
.text-align-right {
	text-align: right;
}